language: php
php:
- 5.5
- 5.6
- hhvm
before_script:
- travis_retry composer self-update
- travis_retry composer install --no-interaction --prefer-dist
- touch storage/database.sqlite
- php artisan migrate --force
- php artisan db:seed --force
script:
- phpunit --coverage-text --coverage-clover=coverage.clover
